{{ partial "header.html" . }}

<div class="container">
    <img class="post-header-image" src="/post-header.png"/>
    <article class="post-container">
        {{ partial "page-header.html" . }}

<style>
  .chart-bar {
    border-radius: 0px 0px 0px 0px;
    background-color: #555;
      color: #fff;
        padding: 5px;
          font-size:0.8em;
            min-width:40px;
              font-weight: bold;
  }
  h1.stat-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
  }
  .filter {
    text-align: center;
  }

  table {
    table-layout:fixed;
  }
  td.bar-column {
    width: 60%;
  }

  .stats-table tr td {
    text-align: center;
      background-color: #fff!important;
  }

  .stats-table h1 {
    font-size: 8em;
        margin:0px;
  }
  .stats-table h2 {
    font-size: 2em;
  }

  @media only screen and (max-width: 600px) {
    .stats-table h1 {
      font-size: 3em;
          margin:0px;
    }
    .stats-table h2 {
      margin-top: 30px;
      font-size: 1em;
    }
  }
</style>

<div class="filter">
  <a href="{{ .Site.BaseURL }}stats/" class="button">All Time</a>
  {{ range $year := .Params.Years }}
  <a href="{{ $.Site.BaseURL }}stats/{{ $year }}" class="button">{{ $year }}</a>
  {{ end }}
</div>

{{ range $item := .Params.Items }}
  {{ if eq $item.Type "bar" }}
  <h1 class="stat-header">{{ $item.Title }}</h1>
  <table style="width:100%">
    <tbody>
      {{ range $row := $item.Items }}
        <tr>
          <td class="name-column">{{ $row.Name }}</td>
          <td class="bar-column"><div class="chart-bar" style="width:{{ $row.Pct }}%">{{ $row.Count }}</div></td>
        </tr>
      {{ end }}
    </tbody>
  </table>
  {{ else if eq $item.Type "stats" }}
  <table style="100%" class="stats-table">
    <tbody>
      <tr></tr>
      <tr>
      {{ range $row := $item.Items }}
        <td><h2>{{ $row.Title  }}</h2></td>
      {{ end }}
      </tr>
      <tr>
      {{ range $row := $item.Items }}
        <td><h1>{{ $row.Value  }}</h1></td>
      {{ end }}
      </tr>
    </tbody>
  </table>
  {{ end }}
{{ end }}
    </article>
</div>

{{ partial "footer.html" . }}
